@model List<Veterinario>

@{
    ViewData["Title"] = "Lista de veterinarias";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Veterinario")'">Ingresar una clinica</button>

<p>Listado de nuestros clientes. Como administrador, usted puede ingresar, editar, visualizar y borrar clinicas veterinarias.</p>




<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Telefono</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>
   
    <tbody>
        @foreach(var Item in Model){
        <tr>
            <td>@Item.NombreVeterinario</td>
            <td>@Item.DireccionVeterinario</td>
            <td>@Item.TelefonoVeterinario</td>


            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" asp-action="Delete" asp-route-NombreVeterinario="@Item.NombreVeterinario" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a>
                        <a type="button" asp-action="Edit" asp-route-NombreVeterinario="@Item.NombreVeterinario" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" asp-action="Details" asp-route-NombreVeterinario="@Item.NombreVeterinario" class="btn btn-danger"><i class="bi bi-eye-fill"></i></a>
                    </div>
               
             </td>

        </tr>
        }
        
    </tbody>
</table>
