@model List<Cliente>

@{
    ViewData["Title"] = "Lista de clientes";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Cliente")'">Ingresar un cliente</button>

<p>Listado de nuestros clientes. Como administrador, usted puede ingresar, editar, visualizar y borrar clientes.</p>




<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Animal comprado</th>
            <th scope="col">Acciones</th>


        </tr>
    </thead>
   
    <tbody>
        @foreach(var Item in Model){
        <tr>
            <td>@Item.Cedula</td>
            <td>@Item.Nombre</td>
            <td>@Item.Direccion</td>
            <td>@Item.AnimalComprado</td>


            <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a type="button" asp-action="Delete" asp-route-Cedula="@Item.Cedula" class="btn btn-warning"><i class="bi bi-trash-fill"></i></a>
                        <a type="button" asp-action="Edit" asp-route-Cedula="@Item.Cedula"  class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        <a type="button" asp-action="Details" asp-route-Cedula="@Item.Cedula"  class="btn btn-danger"><i class="bi bi-eye-fill"></i></a>
                    </div>
               
             </td>

        </tr>
        }
        
    </tbody>
</table>
